

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.poppins-regular{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* *{
    margin: 0;
    padding: 0;
} */
/* common css */

.margin{
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.btn-primary{
    width: 196px;
    padding: 10px 50px;
    color: #FFFFFF;
    background-color: #E02C6D;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
}

.title-section{
    text-align: center;
}


/* header css */
.logo-container{
    display: flex;
    
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    
}

.logo-title h3{
    font-size: 1.25rem;
    font-weight: bold;
    color: #3A3A3A;
    
}

.logo-items-container ul{
    display: flex;
    gap: 34px;
    
}
/* banner css */
.banner-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
    gap: 133px;
    margin-top: 50px;
}
.banner-items{
    max-width: 582px;
}

.banner-tittle h2{
    font-size: 3.25rem;
    font-weight: bold;
    
    
}

.banner-description{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.banner-img{
    max-width: 440px;
}

.bk-img{
    position: absolute;
    
}
.font-img{
    position: relative;
    
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
}

/* sponsor css */
.sponsor-container{
    margin-top: 120px;
    
    
    
}
.sponsor-items img{
    padding-left: 5px;
}

.sponsor-items{
    display: flex;
    background-color: rgb(124, 71, 71);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    padding-top: 40px;
    padding-bottom: 44px;
    margin-bottom: 100px;
    
}

.sponsor-item1{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.sponsor-item2{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    
}

/* card css */

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    gap: 30px;
    max-width: 1200px;
    justify-items: center;
    align-items: center;
    
    
}

.card{
    max-width: 400px;
    padding: 20px;
    align-items: center;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    
}

.card img{
    width: 100%;
    
    
    /* margin-left: 30px; */
} 

.card-title{
    font-size: 1.25rem;
    font-weight: 500;
    color: #18191F;
    margin: 5px;
}
.card-price{
    font-size: 1.20rem;
    margin: 5px;
}
.card-description{
    font-size: 1rem;
    margin: 5px;

}

.see-more{
    text-align: end;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
    color: #E02C6D;
    font-weight: bold;
    
}

/* feature section css */

.feature-container{
    display: flex;
    gap: 96px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}
.feature-img{
    width: 100%;
}
.feature-title{
    font-size: 2.2rem;
    margin: 10px;
    font-weight: bold;
    color: rgba(10, 8, 38, 1);

}
.feature-description{
    font-size: 1rem;
    font-weight: bold;
    margin: 16px 0;
}
.feature-btn{
    margin-top: 20px;
}

/* media quary css */

@media screen and (max-width:576px) {
    .logo-container{
        flex-direction: column;
        
        
        
    }
    .sponsor-items{
        flex-direction: column;
        gap: 5px;
        
    }
    .sponsor-item1, .sponsor-item2{
        
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-items: center;
    }
    .sponsor-item1{
        margin-bottom: 50px;
    }
   

    .banner-container{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        margin: 0 auto;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .feature-container{
        flex-direction: column-reverse;
        text-align: center;

    }


}